---
layout: archive
---

<h1>About me</h1>
<section class="page__content" itemprop="text">
    <p>
        I'm a Software Engineer at <a href="https://www.quansight.com">Quansight</a> where I contribute to and help maintain projects in the scientific Python ecosystem.

        I also work on consulting projects to help clients leverage open source tools for data science applications.

        Details on my open source contributions are available on <a href="https://github.com/jrbourbeau">GitHub</a>.

        Additionally, I co-organizer the monthly <a href="https://madpy.com">MadPy</a> Python meetup.
    <p>
        I hold a B.S. in Physics from the University of Texas at Arlington and received my M.S. and Ph.D. from the University of Wisconsin&mdash;Madison where I studied experimental astrophysics as a member of the IceCube collaboration.
    </p>
</section>
<br />

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
