---
layout: archive
---

<h1>About me</h1>
<section class="page__content" itemprop="text">
    <p>
        I'm a physics Ph.D. candidate, data analyst, and software developer.
    </p>
    <p>
        Currently, I'm working as a member of the IceCube South Pole Neutrino Observatory at the University of Wisconsin-Madison. My research focuses on applying machine learning and statistical deconvolution techniques to study the cosmic-ray composition spectrum.
    </p>
    <p>
        I'm also a <a href="{{ site.baseurl }}/software">contributor</a> to the open source scientific Python community.
    </p>
</section>
<br />

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
